/* =========================================================================== *\
    Main Navigation
\* =========================================================================== */

:root {
    --MainNav-fontFamily: inherit;
    --MainNav-fontWeight: 400;
    --MainNav-fontSize: 1.5rem;
    --MainNav-lineHeight: 1.5;
    --MainNav-textTransform: uppercase;
    
    /* Item */
    --MainNav-item-gap: 15px;
    
    /* Link */
    --MainNav-link-paddingVertical: 8px;
    --MainNav-link-paddingHorizontal: 15px;
    --MainNav-link-background: transparent;
    --MainNav-link-color: #333;
    
    /* Link (hover) */
    --MainNav-link-backgroundHover: transparent;
    --MainNav-link-colorHover: #000;
}

/* @define MainNav */
.MainNav {
    box-sizing: border-box;
    display: inline-block;
    font-family: var(--MainNav-fontFamily);
    font-size: var(--MainNav-fontSize);
    line-height: var(--MainNav-lineHeight);
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: var(--MainNav-textTransform);
}

@media(--c-bp-largeScreenNav) {
    .MainNav--right {
        display: flex;
        justify-content: flex-end;
    }
    
    .MainNav--centered {
        display: flex;
        justify-content: center;
    }
    
    .MainNav--spaced {
        display: flex;
        justify-content: space-evenly;
    }
}

/**
 * Items
 */

.MainNav-item {
    box-sizing: border-box;
    display: inline-block;
    margin-left: var(--MainNav-item-gap);
}

.MainNav-item:first-child {
    margin-left: 0;
}

/** Item that should only be shown in the small screen navigation **/
.MainNav-item--smallScreen {
    display: none;
}

@media (--c-bp-smallScreenNav) {
    .MainNav-item--smallScreen {
        display: block;
    }
}

/**
 * Links
 */

.MainNav-link {
    background: var(--MainNav-link-background);
    box-sizing: border-box;
    color: var(--MainNav-link-color);
    cursor: pointer;
    display: block;
    font-weight: var(--MainNav-fontWeight);
    padding: var(--MainNav-link-paddingVertical) var(--MainNav-link-paddingHorizontal);
    position: relative;
    text-decoration: none;
}

@media (--c-bp-largeScreenNav) {
    .MainNav-item.is-current > .MainNav-link,
    .MainNav-item.is-currentParent > .MainNav-link,
    .MainNav-item:hover > .MainNav-link {
        background: var(--MainNav-link-backgroundHover);
        color: var(--MainNav-link-colorHover);
        text-decoration: none;
    }
}
